name: Linter

on:
  push:
    branches: [main]
  pull_request: {}
  workflow_call: {}

permissions: {}

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Lint Code Base
        uses: super-linter/super-linter@502f4fe48a81a392756e173e39a861f8c8efe056 # v8.3.0
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_GO: false
          VALIDATE_HTML: false
          VALIDATE_KUBERNETES_KUBECONFORM: false
          VALIDATE_JSCPD: false
          # GitHub actions often contain $(go list ./...) as part of commands
          GITHUB_ACTIONS_COMMAND_ARGS: -ignore SC2046
          IGNORE_GENERATED_FILES: true
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          MULTI_STATUS: false
